# node modules
node_modules/

# logs
logs/
*.log

# dotenv
.env

#package-lock.json
package-lock.json

# Ignore GA and OAuth credentials
seo-integrated-backend/config/ga-token.json
seo-integrated-backend/config/oauth.json

# build output
seo-dashboard/dist/
seo-integrated-backend/dist/

# OS
.DS_Store
Thumbs.db
