# node modules
node_modules/

# logs
logs/
*.log

# dotenv
.env

#package-lock.json
package-lock.json

#for google analytics
config/ga-token.json
config/ga-oauth.json

# build output
seo-dashboard/dist/
seo-integrated-backend/dist/

# OS
.DS_Store
Thumbs.db
